@using System.Configuration
@using System.Reflection
@{
    var cacheBust = Assembly.GetAssembly(typeof(Global)).GetName().Version;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stormy Coffin</title>
</head>
<body>
    <div id="stormycoffin-app"></div>


    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="http://localhost:5501/app/dist/app-bundle.js"></script>
    }
    else
    {
        <script src="@Url.Content("~/app/dist/app-bundle.js?v=" + cacheBust)"></script>
    }
</body>
</html>
